/*CSS DOCUMENT*/
@charset "utf-8";

@font-face {
    font-family: "alegreya";
    src: url(fuentes/Alegreya-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alegreya bold";
    src: url(fuentes/Alegreya-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "alegreya italic";
    src: url(fuentes/Alegreya-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "alegreya bold italic";
    src: url(fuentes/Alegreya-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'montserrat', sans-serif;
    src: url(fuentes/Montserrat-Italic-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'montserrat', sans-serif;
    src: url(fuentes/Montserrat-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: 'montserrat', sans-serif;
    font-size: 2.3rem;
    line-height: 2.5rem;
    color: rgb(4, 70, 128);
    margin-bottom: 0px;
}

h2 {
    font-family: 'montserrat', sans-serif;
    font-style: italic;
    font-size: 1rem;
    padding: 15px 0;
}


* {
    font-family: "alegreya", sans-serif;
}

.principios {
    padding: 20px;
    background-color: #8b8b8b;
    max-width: 550px;
    min-width: 200px;
    margin-top: 50px;
}


.descripcion {
    text-wrap-style: balance;
    text-align: left;
}

nav {
    text-align: center;
    background-color: rgb(0 0 0);
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}


a {
    font-size: 0.9rem;
    color: aliceblue;
}


h3 {
    font-family: 'montserrat', sans-serif;
    font-style: italic;
    border-bottom: 2px solid black;
    color: rgb(4, 70, 128);
    margin: 0;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.red {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    margin-left: 41px;
}

.descripcion {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/*nuevo comienzo despues de leer correcciones*/

body {
    background-color: #414040;
}

.bloque p {
    font-size: 1.1rem;
    line-height: 23px;
}

.derecha {
    padding: 20px;
    background-color: rgb(4, 70, 128);
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    max-width: 300px;
    min-width: 200px;
}


main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;

}

.derecha p,
.derecha li {
    font-size: 0.9rem;
    margin-top: 0;
    color: aliceblue;
    line-height: 25px;
}


.derecha>img {
    border: 7px solid rgb(79, 170, 245);
    padding: 5px;
}

h5,
h6 {
    background-color: rgb(79, 170, 245);
    font-size: 0.8rem;
    font-family: 'montserrat', sans-serif;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.bloque-personal {
    margin-top: 20px;
    border: 2px solid #00cfff;
    padding: 0px 10px 10px 10px;
    border-radius: 20px;
}


footer {
    background-color: black;
    padding: 5px;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}
