/*CSS DOCUMENT*/
@charset "utf-8";

@font-face {
    font-family: "alegreya";
    src: url(fuentes/Alegreya-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "alegreya bold";
    src: url(fuentes/Alegreya-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "alegreya italic";
    src: url(fuentes/Alegreya-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "alegreya bold italic";
    src: url(fuentes/Alegreya-BoldItalic.ttf) format(truetype);
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Sans-Italic', sans-serif;
    src: url(fuentes/GoogleSans-Italic-VariableFont_GRAD,opsz,wght.ttf) format (truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sans-regular', sans-serif;
    src: url(fuentes/GoogleSans-VariableFont_GRAD,opsz,wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: 'Sans-Italic';
    font-size: 2.3rem;
    line-height: 2.5rem;
    color: rgb(4, 70, 128);
    margin-bottom: 0px;
}

h2 {
    font-family: 'Sans-regular', sans-serif;
    font-size: 1rem;
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
}


* {
    font-family: "alegreya", sans-serif;
}

.principios {
    padding: 20px;
    background-color: #8b8b8b;
    max-width: 550px;
    min-width: 200px;
    margin-top: 50px;
}


.descripcion {
    text-wrap-style: balance;
    text-align: left;
}

nav {
    text-align: center;
    font-size: 0.7rem;
    BACKGROUND: rgb(0 0 0);
    padding: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
}


a {
    font-size: 0.8rem;
    color: aliceblue;
}


h3,
h4 {
    font-family: 'Sans-Italic';
    font-size: 1rem;
    color: rgb(4, 70, 128);
    border-bottom: 2px solid black;
    padding-bottom: 5px
}


.footer {
    background-color: black;
    padding: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.red {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4px;
    color: white;
    margin-left: 41px;
}


.descripcion {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
}


/*nuevo comienzo despues de leer correcciones*/

body {
    background-color: #414040;
}

.texto {
    text-align: start;
    font-size: ;
}

.bloque p {
    font-size: 1rem;
    line-height: 18px;
}

.derecha {
    padding: 20px;
    background-color: rgb(4, 70, 128);
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    max-width: 300px;
    min-width: 200px;
}


main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;

}

.derecha p {
    font-size: 1rem;
    margin-top: 0;
    line-height: 1;
    color: aliceblue;
}

h5 {
    font-family: 'Sans-Italic';
    background-color: rgb(79, 170, 245);
    padding: 8px 12px;
    border-radius: 20px;
}

.derecha>img {
    border: 7px solid rgb(79, 170, 245);
    padding: 5px;
}

H6 {
    background-color: rgb(79, 170, 245);
    font-size: 0.8rem;
    font-family: 'Sans-Italic';
    padding: 6px;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: auto
}

.bloque-personal {
    border: 2px solid #00cfff;
    padding: 20px;
    border-radius: 10px;
}

.bloque-personal p {
    line-height: 26px;
}